@model ProductModel
@section Scripts {
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js" integrity="sha512-Sw6xGAALk16gIMo01Nzur7z1lrF5DLbIy/cd9JiBy4yvcQsXwEnJRMHtTg2/OIO76WGv4C1yR+mCUkOtENKDTA==" crossorigin="anonymous"></script>
    <script>
        CKEDITOR.replace("editor");
    </script>
}
<div class="bradcam_area breadcam_bg overlay">
    <h3>Ürün Düzenle</h3>
</div>
@if(TempData["message"]!=null){
    <partial name="_message" model="@(TempData.Get<AlertType>("message"))"/>
}
<div class = "container my-5"> 
    <form  method="post" enctype="multipart/form-data">
            <div class ="row "> 
                <div class="col-md-8">
                    <div asp-validation-summary="All" class="text-danger">

                    </div>
                </div>
            </div>
            
            <div class="row mt-5">
                <div class="col-md-8">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group row">
                        <label asp-for="Name" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" value="@Model.Name" class="form-control text-capitalize" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ImageUrl" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input type="hidden" name="ImageUrl" value="@Model.ImageUrl" />
                            <img src="~/img/products/@Model.ImageUrl" width="80" />
                            <input type="file" name="file" value="" />
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <textarea id="editor" asp-for="Description" class="form-control">
                                @Model.Description
                            </textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Price" class="col-md-2 col-form-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Price" value="@Model.Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-primary">Save Product</button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mt-md-2 mt-5">

                    <h5 class="font-weight-bold">Ürünün Ait Olduğu Kategoriler</h5>
                    <hr/>
                    @foreach (var item in (List<Category>)ViewBag.Categories)
                    {

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox"
                                name="categoryIds"
                                value="@item.id"
                                class="custom-control-input"
                                id="category@(item.id)"
                                @(Model.SelectedCategories.Any(i=>i.id == item.id)?"checked":"") />
                            <label class="custom-control-label text-capitalize" for="category@(item.id)">@item.name</label>
                        </div>
                    }
                    <div class="mt-5"> 
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" asp-for="IsApproved" class="custom-control-input"/> 
                            <label asp-for="IsApproved" class="custom-control-label ">Stokta Var mı?</label>
                        </div>
                    </div>
                </div>
            </div>

    </form>
</div>